#searchInput {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    z-index: 1000;
    width: 50%;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 0px 10px;
    outline-color: black;
}