.DateContainer {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 1;
    color: #FFF;
    /* text-shadow: 1px 1px 12px rgba(0,0,0,0.1), 1px -1px 12px rgba(0,0,0,0.1), -1px 1px 12px rgba(0,0,0,0.1), -1px -1px 12px rgba(0,0,0,0.1); */
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

#DayOfWeek {
    font-size: 32px;
    letter-spacing: 1px;
    margin-top: -7px;
}

#Date {
    font-size: 18px;
}