.DateContainer {
    position: absolute;
    right: 20px;
    bottom: 15px;
    z-index: 1;
    text-align: right;
    color: #EEE;
    text-shadow: -1px -1px 0 #444, 1px -1px 0 #444, -1px 1px 0 #444, 1px 1px 0 #444;
    font-family: 'Open Sans', sans-serif;
}

#DayOfWeek {
    font-size: 32px;
}

#Date {
    font-size: 18px
}