.App {
	text-align: center;
}

.gmnoprint {
	display: none;
}

.gm-control-active.gm-fullscreen-control {
	display: none;
}

a[href*="google.com"] {
	display: none !important;
}

.mapboxgl-control-container {
	display: none;
    pointer-events: none;
}

.mapboxgl-marker {
	cursor: pointer;
	z-index: 2;
}